// customize bootstrap variables here:
@import "variables";
@import "../bootstrap-assets/stylesheets/bootstrap/bootstrap";


/* ---------------------------------------------------------------------------*/
/* HEADINGS
/* ---------------------------------------------------------------------------*/

h2 {
    margin: $default-spacing-large 0 $default-spacing;
}

/* ---------------------------------------------------------------------------*/
/* CUSTOM FORM STYLES 
/* ---------------------------------------------------------------------------*/
.btn {
    margin-top: $padding-large-vertical;
}

input, select {
    max-width: 330px;
}

.control-label,
.radio,
.checkbox,
.radio-inline,
.checkbox-inline {
    padding-top: ($padding-large-vertical + 1); // padding plus a border
}

.control-label.radio-inline {
    font-weight: bold;
    padding-left: 0;
}


/* ---------------------------------------------------------------------------*/
/* MODULE STYLES
/* ---------------------------------------------------------------------------*/

.course-search {

    .form-control {
        display: inline;

        & + .form-control {
            margin-left: $default-spacing;
        }
    }

    .table {
        margin-top: $default-spacing-large;
    }

    .pagination {
        margin-top: $default-spacing-large;
        text-align: center;   
    }

    .pagination-container {
        text-align: center;
    }
}

.all-decks, .chapter .container {
    background-color: $breadcrumb-bg;
    padding: $default-spacing-large 0;
}

.deck, .card {
    background-color: #fefefe;
    border: 1px solid #ccc;
    height: 400px;
    margin: 0 auto;
    max-width: 300px;
    padding: $default-spacing;
    text-align: center;

    h3 {
        padding-top: $default-spacing-large;
    }

    .progress {
        margin-top: $default-spacing-large;  
    }
}

.chapter {
    .page-title {
        float: left;
    }

    .actions {
        float: right;
        margin: $default-spacing 0;
    }

    .card {
        border: 0;
        border-top: 1px solid #ededed;
        clear: both;
        font-size: $font-size-h3;
        height: auto;
        max-width: $container-lg;
        padding-top: $default-spacing-large;

        div {
            margin-bottom: $default-spacing;
        }

        div:last-child {
            margin-bottom: 0;
        }
    }

    .unit {
        font-size: $font-size-h2;
    }

    .audio .glyphicon {
        font-size: $font-size-h2;
    }

    .pagination {
        float: right;
        font-size: $font-size-base;
    }
}